body {
	background-color: #151515; 
	color: white;
	border : 0;
	height : 100%;
}

#mtitle {
	color: white;
}

#case{
	background-color: #202020;
	border: black;
	box-sizing: content-box;
	padding-bottom: 10px;

}

.h1 {
  margin-top: 0;
  padding-top: 120px;
  font-size: 3.0em;
  font-weight: 700;
  letter-spacing: -0.03em;
  margin-bottom: 0.571em;
  text-align: center;
  }

.imagesec {
	padding-top: 25px;
	width: 50%;
	height : 50%;
	object-fit: cover;
	float: left;
	margin-right: 11px;
	position: relative;


}

.hima {
	height: 300px;
	width : 100%;
    background-image: url(../image/Big-Data-1.jpg);
   background-size: cover;
   

}

.-sub-title {
  font-weight: 400;
  text-align: justify;
}

.partie1
{
	margin: 20px;
	margin-top: 40px;

}

.partie2
{

}

li
{
	color: white;
}

.para
{
	color : white;
	padding-top: 10px;
	text-align: justify;
}

a
{
	color:white;
}

h2 span { 
}

h3 span { 
}

.navbar
{
	background-color: #202020; 
	border-radius: 0;
	border: 0;
	color : white;

}

.active
{
	background-color: grey;
}

footer
{
	width: 100%;
	height :  100px;
	background-color: #202020;
	margin-top: 120px;
	position: relative;
	bottom : 0px;
}

.copyright
{
	position: relative;
	margin-left: 30px;
	top: 20px;
}

.cachemisere
{
	width: 100%;
	height: 5px;
	position: absolute;
	top: 0px;
	z-index: 1;
	background-color: #202020;
}

.modal-header
{
	background-color: #151515;
}
.modal-body
{
	background-color: #202020;
}

.acteur
{
	background-image: linear-gradient(#A4A8A7,#565B61);
	height: 160px;
	width: 160px;
	border-radius: 160px;
	text-align: center;
	position: absolute;
	top: 400px;
	left: 400px;
	margin: -80px;
}

.linkbi	
{
	text-decoration: underline;
}

.circle-container .txtacteur
{
	background-image: linear-gradient(#A4A8A7,#565B61);
	height: 160px;
	width: 200px;
	border-radius: 20px;
	text-align: center;
	position: absolute;
	font-size: 18px;
	left:400px;
	top: 400px;
	margin-left: -100px;
	margin-top : -80px;
}

.circle-container {
    position: relative;
    width: 800px;
    height: 800px;
    /*border: dashed 1px;*/
    border-radius: 50%;
    margin: 1.75em auto 0;
}

.sg
{
	background-image: linear-gradient(#A4A8A7,#565B61);
	height: 90px;
	width: 90px;
	padding-top: 10px;
	padding-bottom: 10px; 
	border-radius: 100px;
	top: 410px;
	left: 410px;
	text-align: center;
	margin: -45px;
	position: absolute;
	display: none;
	font-size:10px; 
	z-index: 1;
}

.r
{
	background-image: none; 
	background-color: orange;	
}

.pc
{
	background-image: none; 
	background-color: red;
}

.c
{
	background-image: none; 
	background-color: #800000;
}

.pp
{
	background-image: none; 
	background-color: #00C000;
}

.p
{
	background-image: none;
	background-color: green;
}

.link
{
	text-decoration: underline;
	color : #4040FF;
}



.gb
{
	text-align: center;
}

#jus{transform:  translate(300px);}
#jus:hover ~ .jus {display: block;}
#jus0 { transform: translate(300px) translate(150px); }
#jus1 { transform: translate(300px) rotate(40deg) translate(150px) rotate(-40deg); }
#jus2 { transform: translate(300px) rotate(-40deg) translate(150px) rotate(40deg); }
#fdo { transform: rotate(51deg) translate(300px) rotate(-51deg);}
#fdo:hover ~ .fdo {display: block;}
#fdo0 { transform: rotate(51deg) translate(300px) translate(150px) rotate(-51deg); }
#fdo1 { transform: rotate(51deg) translate(300px) rotate(40deg) translate(150px) rotate(-40deg) rotate(-51deg); }
#fdo2 { transform: rotate(51deg) translate(300px) rotate(-40deg) translate(150px) rotate(40deg) rotate(-51deg); }
#gov { transform: rotate(102deg) translate(300px) rotate(-102deg); }
#gov:hover ~ .gov {display: block;}
#gov0 { transform: rotate(102deg) translate(300px) translate(150px) rotate(-102deg); }
#gov1 { transform: rotate(102deg) translate(300px) rotate(-40deg) translate(150px) rotate(40deg) rotate(-102deg); }
#gov2 { transform: rotate(102deg) translate(300px) rotate(40deg) translate(150px) rotate(-40deg) rotate(-102deg); }
#oi { transform: rotate(153deg) translate(300px) rotate(-153deg); }
#oi:hover ~ .oi {display: block;}
#oi0 { transform: rotate(153deg) translate(300px) translate(150px) rotate(-153deg); }
#oi1 { transform: rotate(153deg) translate(300px) rotate(-40deg) translate(150px) rotate(40deg) rotate(-153deg); }
#oi2 { transform: rotate(153deg) translate(300px) rotate(40deg) translate(150px) rotate(-40deg) rotate(-153deg); }
#aso { transform: rotate(204deg) translate(300px) rotate(-204deg); }
#aso:hover ~ .aso {display: block;}
#aso0 { transform: rotate(204deg) translate(300px) rotate(60deg) translate(150px) rotate(-60deg) rotate(-204deg); }
#aso1 { transform: rotate(204deg) translate(300px) rotate(20deg) translate(150px) rotate(-20deg) rotate(-204deg); }
#aso2 { transform: rotate(204deg) translate(300px) rotate(-20deg) translate(150px) rotate(20deg) rotate(-204deg); }
#aso3 { transform: rotate(204deg) translate(300px) rotate(-60deg) translate(150px) rotate(60deg) rotate(-204deg); }
#sit { transform: rotate(255deg) translate(300px) rotate(-255deg); }
#ent { transform: rotate(306deg) translate(300px) rotate(-306deg); }
#ent:hover ~ .ent {display: block;}
#ent0 { transform: rotate(306deg) translate(300px) translate(150px) rotate(-306deg); }
#ent1 { transform: rotate(306deg) translate(300px) rotate(40deg) translate(150px) rotate(-40deg) rotate(-306deg); }
#ent2 { transform: rotate(306deg) translate(300px) rotate(-40deg) translate(150px) rotate(40deg) rotate(-306deg); }
